{% extends "templates/app.twig" %}
{% block naslov %}
<div class="row text-left">
  <div class="col-lg-6">
    <h4><img class="img-fluid" src="{{ base_url() }}/img/orao.png" alt="Grad Kragujevac - portal"></h4>
  </div>
  <div class="col-lg-6">
    <h4>Избор садржаја</h4>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <img src="{{ base_url() }}/img/dok.png" class="card-img-top" alt="..." style="max-width: 250px;
  width:100%;">
    <div class="card-body">
      <h5 class="card-title">Документа</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="{{ base_url() }}/img/clanak.png" class="card-img-top" alt="..." style="max-width: 250px;
  width:100%;">
    <div class="card-body">
      <h5 class="card-title">Чланци</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="{{ base_url() }}/img/Phone.png" class="card-img-top" alt="..." style="max-width: 250px;
  width:100%;">
    <div class="card-body">
      <h5 class="card-title">Именик Градске управе у Крагујевцу</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
{% endblock naslov %}